<!DOCTYPE html>
<html>
	<head>
		<title>首页</title>
		<link type="text/css" rel="stylesheet" href="/common/base/index.css" />
		<link type="text/css" rel="stylesheet" href="/common/common.css" />
		<link type="text/css" rel="stylesheet" href="/pages/manage/index.css" />
	</head>
	<body>
		<div id="header"></div>

		<div id="aside"></div>

		<div class="m-content" id="m-content"></div>

		<script src="/common/common.js"></script>
		<script src="/common/base/index.js"></script>
		<script src="/pages/manage/index.js"></script>
	</body>
</html>
