<!DOCTYPE html>
<html>
	<head>
		<title>首页</title>
		<link type="text/css" rel="stylesheet" href="/common/base/index.css" />
		<link type="text/css" rel="stylesheet" href="/common/common.css" />
		<link type="text/css" rel="stylesheet" href="/pages/home/index.css" />
	</head>
	<body>
		<div id="header"></div>
		<div class="m-content" id="fullpage">
			<div class="section">
				<div class="banner">
					<div class="product-name"><strong>WaUI</strong></div>
					<div class="product-brief">让你轻轻松松完成一项移动端APP的页面开发</div>
					<div class="actions">
						<span>开始使用</span>
						<span>立即下载WaUI 3.0.1</span>
					</div>
				</div>

				<div class="brief-block">
					<div class="item">
						<h3>全方位提升开发效率</h3>
						<p>WaUI通过将常用的功能模块封装为通用组件，来最大程度的提高项目的开发效率。</p>
					</div>

					<div class="item">
						<h3>全方位提升开发效率</h3>
						<p>WaUI通过将常用的功能模块封装为通用组件，来最大程度的提高项目的开发效率。</p>
					</div>

					<div class="item">
						<h3>全方位提升开发效率</h3>
						<p>WaUI通过将常用的功能模块封装为通用组件，来最大程度的提高项目的开发效率。</p>
					</div>
				</div>
			</div>

			<div class="section">哈哈</div>

			<div class="section">哈哈</div>
		</div>

		<div class="fullpage-menu" id="menu">
			<li data-menuanchor="firstPage" class="active"><a href="#firstPage"></a></li>
			<li data-menuanchor="secondPage"><a href="#secondPage"></a></li>
			<li data-menuanchor="thirdPage"><a href="#thirdPage"></a></li>
		</div>

		<script src="/common/common.js"></script>
		<script src="/common/base/index.js"></script>
		<script src="/pages/home/index.js"></script>
	</body>
</html>
