<!DOCTYPE html>
<html>
	<head>
		<title>文档</title>
		<link type="text/css" rel="stylesheet" href="/common/base/index.css" />
		<link type="text/css" rel="stylesheet" href="/common/common.css" />
		<link type="text/css" rel="stylesheet" href="/pages/docs/index.css" />
	</head>
	<body>
		<div id="header"></div>

		<div class="m-content" id="guide"></div>

		<div id="footer"></div>

		<script src="/common/common.js"></script>
		<script src="/common/base/index.js"></script>
		<script src="/pages/docs/index.js"></script>
	</body>
</html>
