<label>用户名</label>
<input type="text" id="username" name="username" />

<label>用户密码</label>
<input type="password" id="passwd" name="passwd" />

<button id="login">登录</button>

<div id="react-content"></div>

<script type="text/javascript" src="/common/common.js"></script>
<script type="text/javascript" src="/pages/login/index.js"></script>
